In [11]:
import pandas as pd
import datasist as ds  #import datasist library
import numpy as np
df = pd.read_csv('C:\\Users\\fresh\\Desktop\\MY_COURSES\\3_TRESTLE_ACADEMY\\Data_Engineering_Track\\trestle_academy_dataset.csv')
df

,student_id,name,age,gender,course,enrollment_date,final_grade,is_intern
0,S0001,Student_1,30,Female,Data Science,2023-03-22,97,No
1,S0002,Student_2,33,Female,Data Science,2023-01-29,64,No
2,S0003,Student_3,39,Female,Data Engineering,2023-12-24,97,No
3,S0004,Student_4,18,Male,Data Engineering,2023-01-09,89,Yes
4,S0005,Student_5,21,Female,Cloud Computing,2023-05-26,65,No
...,...,...,...,...,...,...,...,...
995,S0996,Student_996,25,Female,Data Engineering,2023-05-25,52,Yes
996,S0997,Student_997,40,Male,AI Fundamentals,2023-08-15,90,No
997,S0998,Student_998,20,Female,Cloud Computing,2023-04-22,100,No
998,S0999,Student_999,40,Female,Cloud Computing,2023-07-04,67,No
999,S1000,Student_1000,34,Male,AI Fundamentals,2023-09-09,90,Yes

In [12]:
ds.structdata.describe(df)

First five data points

,student_id,name,age,gender,course,enrollment_date,final_grade,is_intern
0,S0001,Student_1,30,Female,Data Science,2023-03-22,97,No
1,S0002,Student_2,33,Female,Data Science,2023-01-29,64,No
2,S0003,Student_3,39,Female,Data Engineering,2023-12-24,97,No
3,S0004,Student_4,18,Male,Data Engineering,2023-01-09,89,Yes
4,S0005,Student_5,21,Female,Cloud Computing,2023-05-26,65,No

Random five data points

,student_id,name,age,gender,course,enrollment_date,final_grade,is_intern
773,S0774,Student_774,30,Male,AI Fundamentals,2023-02-05,54,Yes
223,S0224,Student_224,31,Male,Data Engineering,2023-12-15,82,Yes
16,S0017,Student_17,30,Female,Data Engineering,2023-01-13,76,Yes
426,S0427,Student_427,41,Female,Data Science,2023-05-06,51,Yes
470,S0471,Student_471,41,Male,Cloud Computing,2023-11-10,51,No

Last five data points

,student_id,name,age,gender,course,enrollment_date,final_grade,is_intern
995,S0996,Student_996,25,Female,Data Engineering,2023-05-25,52,Yes
996,S0997,Student_997,40,Male,AI Fundamentals,2023-08-15,90,No
997,S0998,Student_998,20,Female,Cloud Computing,2023-04-22,100,No
998,S0999,Student_999,40,Female,Cloud Computing,2023-07-04,67,No
999,S1000,Student_1000,34,Male,AI Fundamentals,2023-09-09,90,Yes

Shape of  data set: (1000, 8)


Size of  data set: 8000


Data Types
Note: All Non-numerical features are identified as objects in pandas

                Data Type
student_id         object
name               object
age                 int64
gender             object
course             object
enrollment_date    object
final_grade         int64
is_intern          object

Column(s) {'enrollment_date'} should be in Datetime format. Use the [to_date] function in datasist.feature_engineering to convert to Pandas Datetime format


Numerical Features in Data set
['age', 'final_grade']


Categorical Features in Data set

['student_id', 'name', 'gender', 'course', 'enrollment_date', 'is_intern']

Statistical Description of Columns

               age  final_grade
count  1000.000000  1000.000000
mean     30.731000    75.766000
std       7.857887    15.195004
min      18.000000    50.000000
25%      24.000000    62.000000
50%      31.000000    76.000000
75%      37.000000    89.000000
max      44.000000   100.000000

Description of Categorical Features

c:\Users\fresh\anaconda3\Lib\site-packages\datasist\structdata.py:99: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  display(data.describe(include=[np.object, pd.Categorical]).T)

AttributeError: module 'numpy' has no attribute 'object'.
`np.object` was a deprecated alias for the builtin `object`. To avoid this error in existing code, use `object` by itself. Doing this will not modify any behavior and is safe.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   student_id       1000 non-null   object
 1   name             1000 non-null   object
 2   age              1000 non-null   int64
 3   gender           1000 non-null   object
 4   course           1000 non-null   object
 5   enrollment_date  1000 non-null   object
 6   final_grade      1000 non-null   int64
 7   is_intern        1000 non-null   object
dtypes: int64(2), object(6)
memory usage: 62.6+ KB

In [14]:
df.describe()

               age  final_grade
count  1000.000000  1000.000000
mean     30.731000    75.766000
std       7.857887    15.195004
min      18.000000    50.000000
25%      24.000000    62.000000
50%      31.000000    76.000000
75%      37.000000    89.000000
max      44.000000   100.000000

In [21]:
#importing library
from ydata_profiling import ProfileReport
#defining the library
profile = ProfileReport(df)
# exporting your report as a html file
profile.to_file(output_file='report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [16]:
#importing sweetviz and visualizing our data
import sweetviz as sv
sweet_report = sv.analyze(df)
sweet_report.show_html('sweetviz_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
import dtale 

import dtale.app as dtale_app
dtale_app.USE_Firefox = True
dtale.show(df)

In [ ]:
#importing sweetviz and visualizing our data
import sweetviz as sv
sweet_report = sv.analyze(df)
sweet_report.show_html('sweetviz_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.